.view-list-content-wrapper{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 245, 246);
  min-height: 100%;
  margin-top: 15px;
  border-radius: 5px;

}

.view-container-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

/* dropdown */
.view-menu-dropdown{
  min-width: 96%;
  margin: auto;
  padding-left: 5px;
  /* margin-bottom: 5px; */
  margin-top: 5px;
  display: flex;
  color: rgb(57, 69, 88);
  font-weight: bold;
}

/* inner content */


.title-list{
  font-weight: Bold;
  font-size: 30px;
  margin: 12px 0 5px;
  max-width: 80%;
}

.title-author {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(70, 10, 134, 0.4);
}

.add-item-button-from-list{
  width:96%;
  display: flex;
  justify-content: center;
  align-items:center;
}
/* content */
.view-image-cover{
  min-width: 250px;
  max-width: 250px;
  max-height: 250px;
  min-height: 250px;
  margin: 5px;
  border-radius: 8px;
}

.view-item-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  min-width: 10vh;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
  background-color: white;
  padding: 20px;


}

/* THIS IS PISSING ME OFF */
.view-item-body-content{
  display: flex;
  justify-content: flex-start;
  /* min-width: 20vh; */
  width: 100%;
}

.view-title-and-content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: 80%;
  min-width: 10vh;
  /* max-width: 40%; */
  /* border-bottom: 1px solid rgb(201, 201, 201); */
  position: relative;
}


/* edit */
.edit-list-item-button{
  /* width: 10%; */
  position: absolute;
  right: -10px;
  font-size: 25px;
  top: -10px;
  color: #8FD6E1;
}
.edit-list-item-button:hover{
  cursor: pointer;
  color: #257885;
}

.view-title-item{
  font-weight: Bold;
  font-size: 20px;
  margin: 15px 0 2px;
  min-width: 1vh;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  color:rgb(63, 63, 63);
}

.view-title-content{
  font-size: 15px;
  width: 60%;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top:5px;
}


.view-external-link{
  min-width: 250px;
  display: flex;
  justify-content: center;
  margin: 5px;
  text-decoration: none;
}

.view-external-link-button{
  text-decoration: none;
  padding: 10px;
  /* width: 40%; */
  background-color: rgb(98, 184, 241);
  border-style: none;
  border-radius: 2px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-size: 12px;
  font-weight: bold;
  min-width:20px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.view-external-link-button:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.22);
  cursor: pointer;
}




@media only screen and (max-width: 600px) {
  .view-item-body-content{
    display: flex;
    flex-direction: column;
    align-items:center;
    min-width: 100%;
  }
  .view-title-and-content{
    min-width: 30%;
  }

  .view-list-content-wrapper{
    min-width: 80%;
  }
  .title-list{
    text-align: center;
  }
  .edit-list-item-button{
    margin-top: 25px;
  }
  .view-title-item{
    font-size: 15px;
    max-width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .view-item-body-content{
    flex-direction: column;
  }
  .view-item-body-content{
    align-items: center;
  }
  .edit-list-item-button{
    margin-top: 25px;
  }
}
