.image-cover{
  width: 200px;
  height: 175px;
  margin: 5px 0px;
  margin-left: 14px;
  border-radius: 2px;
}

.full-item-wrapper{
  width: 90%;
  margin: auto;
  /* border-bottom: 1px solid rgb(214, 214, 214); */
  margin-top: 20px;
}


.list-item-container{
  /* max-width: 80vh; */
}

/* -----carousel list content----- */
.content-container-homepage{
  max-width: 90%;
}

.cch__carousel-list{
  display: flex;
  max-width: 95%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* position: relative; */
}
.carousel-list__scroll-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  min-width: 55vw;
  height: 175px;
  margin-left: -12px;
  z-index: 2;
  /* pointer-events: none; */
}

.discover-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* pointer-events: auto; */
}
.hide-scroll {
  visibility: hidden;
}

.button-carousel {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 3px;
  background-color: #fff;
  color: rgb(63, 63, 63);
  box-sizing: border-box;
  font-size: 11px;
  padding: 2px 9px 2px 8px;
  line-height: 16px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.button-carousel:hover{
  border-color: lightskyblue;
  color: lightskyblue;
}


/* -----metadata----- */
.author-title-homepage{
  font-size: 11px;
  margin: 2px 5px;
  color: rgb(143, 143, 143);
}

.list-title-homepage{
  /* font-weight: 500; */
  font-family:sans-serif;
  font-size: large;
  margin:5px;
}
.list-title-homepage:hover{
  cursor: pointer;
  color: rgb(96, 187, 248);
}


.list-view-button{
  display: flex;
  justify-content: flex-end;

  text-decoration: none;
  font-size: 14px;
  max-width: 95%;
  padding-bottom: 5px;
  /* border-bottom: 1px solid rgb(233, 233, 233); */
  /* margin-top: 5px; */
  margin-bottom: 20px;
  padding: 10px 0;

}

.button-style-list{
  padding: 10px;
  /* width: 40%; */
  border-style: none;
  border-radius: 2px;
  /* margin-top: 15px; */
  /* margin-right: auto;
  margin-left: auto; */
  color: white;
  background-color: rgb(28, 143, 219);
  font-size: 12px;
  font-weight: bold;
  max-width: 100px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-decoration: none;
}

.button-style-list:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.22);
  cursor: pointer;
}
