.image-cover{
  min-width: 200px;
  max-width: 200px;
  max-height: 175px;
  min-height: 175px;
  margin: 5px;
  border-radius: 8px;
}

.full-item-wrapper{
  width: 90%;
  margin: auto;
  /* border-bottom: 1px solid rgb(214, 214, 214); */
  margin-top: 20px;
}


.list-item-container{
  /* max-width: 80vh; */
}

.content-container-homepage{
  max-width: 90%;
}


.author-title-homepage{
  font-size: 11px;
  margin: 2px 5px;
}

.list-title-homepage{
  font-weight: bold;
  font-family:sans-serif;
  font-size: large;
  margin:5px;
}
.list-title:hover{
  cursor: pointer;
  color: rgb(28, 143, 219);
}


.list-view-button{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  max-width: 95%;
  margin-left: 12px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(214, 214, 214);

}

.button-style-list{
  padding: 10px;
  /* width: 40%; */
  border-style: none;
  border-radius: 2px;
  /* margin-top: 15px; */
  /* margin-right: auto;
  margin-left: auto; */
  color: white;
  background-color: rgb(28, 143, 219);
  font-size: 12px;
  font-weight: bold;
  max-width: 100px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-decoration: none;
}

.button-style-list:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.22);
  cursor: pointer;
}
