.landing-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top:0;
}
.landing-page-container{
  /* height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

}

.landing-text{
  /* margin: 20% auto;
  width: 50%;
  text-align: center;
  line-height: 2.5em; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 85vh;
  z-index: 10;

}

.landing-header{
  margin-bottom: 20px;
  color: white;
  font-size: 40px;
  font-weight: 900;

}

.landing-body{
  width: 30%;
  color: white;
  font-size: 22px;
  font-weight: bold;
}


.join-button{
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 3px;
  padding: 10px 16px;
  margin: 12px auto;
  font-weight: bold;
  min-width: 12%;
  margin-top: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);


}
.join-button:hover {
  color: rgb(168, 163, 163);
  box-shadow:  0 5px 10px rgba(0,0,0,0.22);
}


/* background dark */

#display-dark-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.247);
  z-index: -1;
}

.plug-icon{
  color: white;
  font-size: 50px;

}
.plug{
  color: white;

  background-color: rgba(0, 0, 0, 0.247);
  width: 100%;

  height: 7vh;
  position:absolute;
  bottom:0;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
.plug-content{
  display: flex;
  justify-content: center;

}

.plug-made-by{
  font-size: 14px;
}

.plug-link{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.plug-link:hover{
  color: rgb(150, 150, 150);
}
.plug-wrapper{
  display: flex;
  flex-direction: column;
  padding: 5px;
}


@media only screen and (max-width: 600px) {
  .landing-body{
    font-size: 15px;
  }
  .landing-header{
    font-size: 25px;
  }
}
