/* TODO Add site wide styles */
/* .app-container{
  position: relative;
} */

/* .app-navbar--sticky{
  position: sticky;
  top: 0;
  width: auto;
  height: 70px;
  margin:45px auto -115px;
} */

#root{
  min-height: 90vh;
}
