@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

/* --------NAV BAR-------- */
.active{
  font-weight: bold;
}

/* .background-nav-container{
  background-color: #DAE0E6;
  background-image: url('../../images/landingbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */

.nav-wrapper{
  width: 100%;
  /* background-color: black; */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  background: transparent;
  z-index: 10;
  display:flex;
  position: sticky;
  top: 0;
}

/* change styles of the navbar depending on path */
.nav-wrapper-not-landing{
  width: 100%;
  /* background-color: black; */
  background: linear-gradient(90deg, rgb(26, 24, 24) 0%, rgb(26, 23, 23) 100%);
  z-index: 10;
  display:flex;
  position: sticky;
  top: 0;
}

.nav-container{
  width: 94%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 50px;
}


.nav-container__login:hover {
  color: rgb(196, 196, 196);
}

.nav-container__signup{
  color: rgb(22, 41, 83);
  text-decoration: none;
  /* border: 1px solid black; */
  background-color: white;
  padding: 6px;
  border-radius: 3px;
  font-size: small;
  font-weight: bold;
}
.nav-container__signup:hover {
  color: rgb(168, 163, 163);
}

.nav-container__tabs{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-container__home{

  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;

}

.logo{
  max-width: 65px;
  max-height: 25px;
}

.nav-container__home span{
  font-family: Roboto, "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  /* color: white; */
}

/* navbar buttons */
.logged-in-buttons{
  display: flex;
  justify-content: space-around;
}
